@import url("https://fonts.googleapis.com/css2?family=Anton&family=Metrophobic&family=Pacifico&display=swap");
$text-font: "Pacifico", cursive;
$author-font: "Metrophobic", sans-serif;
$title-font: "Anton", sans-serif;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
