<hr style="position:relative;top:80px ;">
<div class="container p-4 mb-4 bg-light" style="position:relative;top:80px ;height:fit-content">
  <div class="row py-4">
    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
      <p class="font-italic text-muted">Với hàng ngàn danh sách nhà trọ trên khắp đất nước, Motecarlo cung cấp cho bạn một trải nghiệm tìm kiếm thuận tiện và đáng tin cậy. Bạn có thể dễ dàng tìm kiếm theo vị trí, giá cả, diện tích, tiện nghi và nhiều tiêu chí khác để tìm được căn nhà trọ phù hợp với nhu cầu của bạn.</p>
      <ul class="list-inline mt-4">
        <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a>
        </li>
        <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
      <h6 class="text-uppercase font-weight-bold mb-4">Thể loại</h6>
      <ul class="list-unstyled mb-0">
        <li class="mb-2"><a href="#" class="text-muted">Phòng trọ</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Du lịch</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Vui chơi</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Nghỉ dưỡng</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
      <h6 class="text-uppercase font-weight-bold mb-4">Công ty</h6>
      <ul class="list-unstyled mb-0">
        <li class="mb-2"><a href="#" class="text-muted">Đăng Nhập</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Đăng kí</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Danh sách mong muốn</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Về chúng tôi</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 mb-lg-0">
      <h6 class="text-uppercase font-weight-bold mb-4">Tin tức</h6>
      <p class="text-muted mb-4">Chào mừng bạn đến với Motecarlo - nền tảng tìm kiếm nhà trọ hàng đầu! Với Motecarlo, việc tìm kiếm một nơi ở lý tưởng không còn là một thách thức nữa.</p>
      <div class="p-1 rounded border">
        <div class="input-group">
          <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1"
            class="form-control border-0 shadow-0">
          <div class="input-group-append">
            <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/113.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/111.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/112.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/114.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/115.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/116.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(165, 97, 97, 0.2);">
    Sinh viên thực hiện :
    <a class="text-white" href="https://mdbootstrap.com/">20520923</a>
  </div>
</div>


<!-- Grid container -->

<!-- Copyright -->

<!-- Copyright -->



<!-- End of .container -->