<div class="add-container">
    <form class="add-form" action="/addtype" method="post" enctype="multipart/form-data">
        <div class="add-input add-name"> <label for="name">Product Name</label>

            <div> <label for="accessory">ten loai</label>
                <input id="accessory" type="text" name="name" value="name"></input>
            </div>
            <div> <label for="accessory">routeName</label>
                <input id="accessory" type="text" name="routeName" value="name"></input>
            </div>


            <div> <label for="accessory">ten loai</label>
                <input id="accessory" type="file" name="singleImg" value="name"></input>
            </div>

        </div>
        <div class="add-submit">
            <input id="submit" type="submit" value="them"></input>

        </div>
    </form>
</div>