<div class="container w-100 h-100 m-2 p-1 position-relative d-flex justify-content-center align-items-center ">

    <div class="float-start w-50 ">
        <h1 class="w-100 align-self-center p-4" style="font-size: 60px;">Bắt đầu trên Airbnb thật dễ dàng</h1>
      
    </div>
    <div class="float-end w-50 p-1">
        <div class="w-100 h-100 d-flex flex-column">
            <div class="w-100">
                <div class="float-start w-75 p-4">
                    <h2 class="w-100 "> 1 Chia sẻ thông tin về chỗ ở của bạn cho chúng tôi</>
                    <p style="font-size: 1.5rem; font-weight:100" class="w-100 text-muted">Chia sẻ một số thông tin cơ bản, như vị trí của nhà/phòng cho thuê và số lượng
                        khách có thể ở tại đó.</p>
                </div>
                <div class="w-25 float-end">
                    <img class="w-100" src="/img/default/f1.png">
                </div>

                <hr>
            </div>
         
            <div class="w-100">
                <div class="float-start  p-4  w-75">
                    <h2 class="w-100"> 2 Làm cho nhà/phòng cho thuê trở nên nổi bật</h2>
                    <p class="w-100 text-muted">Thêm từ 5 ảnh trở lên cùng với tiêu đề và nội dung mô tả – chúng tôi sẽ giúp bạn
                        thực hiện.</p>
                </div>
                <div class=" float-end w-25">
                    <img class="w-100" src="/img/default/f2.png">
                </div>

                <hr>
            </div>
               <div class="w-100">
                <div class="float-start w-75 p-4">
                    <h2 class="w-100"> 3 Hoàn thiện và đăng mục cho thuê</h2>
                    <p class="w-100 text-muted">Lựa chọn xem bạn muốn bắt đầu với việc đón tiếp khách có kinh nghiệm, chọn giá khởi điểm hay đăng mục cho thuê.</p>
                </div>
                <div class="w-25 float-end">
                    <img class="w-100" src="/img/default/f3.png">
                </div>

                <hr>
            </div>
        </div>
    </div>
  
</div> 
 <div class="fixed-bottom w-100 bg-secondary p-3 d-flex justify-content-end">
     
        <form>
            <a href="/host/room/title" style="width: 100px; height:50px ;margin-left:30px  " class=" p-1 btn btn-danger text-white " value="" type="submit">Bắt Đầu</a>
        </form>
    </div>