<div class="container w-100 d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="w-75 bg-warning d-flex flex-column p-4 rounded-2">
        <h2 style="font-weight: bold;" class=" w-100"> ! Đang chờ xác thực ...<h2/>
        <p>Hệ thống đã gửi email đến địa chỉ email của bạn . Vui lòng nhấp vào link liên kết để kích hoạt tài khoản</p>
    </div>
</div>