<div class=" w-100 vh-100  d-flex flex-column align-items-center justify-content-center bg-light ">
{{#if message}}<div aria-live="polite" aria-atomic="true" class="position-absolute top-25 toast-container fixed-top d-flex justify-content-center align-items-center w-100 " style="margin-top: 100px;">
    <div class="toast" id="alert">
      <div class="toast-header toast-container-header w-100 d-flex justify-content-between bg-success">
        <small class="text-dark">gmail thong tin</small>
        <button type="button" class="btn-close btn btn-danger align-seft-end" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body toast-container-body vh-40 bg-light">
        <p>{{message}}</p>
      </div>
    </div>
  </div>{{/if}}


<form class="h-100 d-flex flex-column justify-content-center align-items-center " style="width: 400px;" method="post" action="/account/password">
<div class="card text-center " style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
            <input type="email" id="typeEmail" name="email" class="form-control my-3" />
            <label class="form-label" for="typeEmail">Email input</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Get password</button>
        <div class="d-flex justify-content-between mt-4">
            <a class="btn btn-outline-primary" href="/login">Login</a>
            <a class=" btn btn-outline-primary" href="/register">Register</a>
        </div>
    </div>
</div></form>

</div>
<script>
  $(document).ready(function () {
    $("#alert").toast({ animation: true, delay: 100000 }); $("#alert").toast("show");
  });
</script>
