<div class="loginPage ">
  {{#if announce}}<div aria-live="polite" aria-atomic="true" class="toast-container top-0 start-0">
    <div class="toast" id="alert">
      <div class="toast-header toast-container-header">
        <small>Thông Tin Đăng Kí Chưa Hợp Lê</small>
        <button type="button" class="btn-close btn-danger " data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body toast-container-body">
        <p>{{message}}</p>
      </div>
    </div>
  </div>{{/if}}
  <div class="container w-100 vh-100 d-flex flex-column align-items-center justify-content-center">
    <form class=" bg-white p-4 rounded-2" id="loginForm" action="/login" method="post">
      <div class="fw-bold text-center">
        <h1>Đăng Nhập</h1>
      </div>
      <hr />
      <div class="form-floating  mb-2 w-100">

        <input type="email" id="username" name="username" class="form-control " />
        <label class="label-input" for="username">Tên Đăng Nhập </label>
      </div>
      <!-- Password input -->
      <div class="form-floating  mb-2 w-100">

        <input type="password" id="password" name="password" class="form-control" />
        <label class="label-input" for="password">Mật Khẩu</label>
      </div>



      <div class="login-social">
        <a class="link1" href="/auth/google"> <i class="bi bi-google "></i></a>
  
  <a class="w-75 btn h-100 btn-primary p-1 m-2"href="/">Bỏ qua đăng nhập</a>



      </div>
      <div class="w-100 m-2 p-2">
        <button class="btn btn-outline-dark w-100 mb-2" type="submit"
          style="padding-left: 2.5rem; padding-right: 2.5rem;"><i class="bi bi-arrow-right"></i></button>
        <div class="w-100 d-flex">
          <a class="link link-dark w-50" href="/register">Đăng kí tài khoản</a></p>
          <a class="link link-dark w-50" href="/account/password">Quên Mật Khẩu</a>
           
        </div>
       

      </div>

    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#alert").toast({ animation: true, delay: 100000 }); $("#alert").toast("show");
  });
</script>