<div class="w-100 d-flex flex-column   h-auto p-4 ">
  <div class="fixed-top bg-white" style="height: 80px;">
    <ul class="d-flex flex-row justify-content-start align-items-center w-100 h-100">
      <li class="w-auto btn btn-outline-dark m-2"><a class="text-danger" href="/"><i class="fa-solid fa-house"></i></a></li>
      <li class="w-auto btn btn-outline-dark m-2"><a class="text-danger" href="/user/hosting"><i class="fa-solid fa-hotel"></i></a></li>
    
    </ul>
  </div>
  <div class="dropdown show m-3" style="top: 40px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
   Phòng của bạn
    </button>
    <div class="dropdown-menu " style="max-height: 300px;overflow:scroll" aria-labelledby="dropdownMenuLink">
      {{#each rooms}}
      <a class="dropdown-item rounded-4" href="/user/calendar/{{this._id}}">{{this.name}}</a>
      
      {{/each}}

    </div>
  </div>
  <div class="w-100 p-4 m-3 h-50">
    <div class="w-75 h-50 " id="calendar"></div>
  </div>

</div>



<script type="text/javascript">
  $(function () {
    $('.dropdown-toggle').dropdown()
    $('#calendar').fullCalendar({
      themeSystem: 'bootstrap4',
      selectable: true,
      events:{{{json reser}}}
      // Other FullCalendar options and callbacks
    });
  });
</script>