<div class="register">
  {{#if announce}}<div aria-live="polite" aria-atomic="true" class="toast-container fixed-top d-flex justify-content-center align-items-center w-100 " style="margin-top: 100px;">
    <div class="toast" id="alert">
      <div class="toast-header toast-container-header w-100 d-flex justify-content-between bg-success">
        <small class="text-dark">Thông Tin Đăng Kí Chưa Hợp Lê</small>
        <button type="button" class="btn-close btn btn-danger align-seft-end" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body toast-container-body">
        <p>{{message}}</p>
      </div>
    </div>
  </div>{{/if}}
  <div class="container d-flex flex-row justify-content-center align-items-center " style="width:30%;min-width:400px">
    <form class=" d-flex flex-column align-items-center bg-white p-4 pb-2 rounded-2 w-100" id="registerForm" method="post"
      action="/register">
      <p class="fw-bold text-center">Đăng Kí Tài Khoản</p>
      <div class="form-floating mb-2 w-100">
        <input class="form-control w-100" type="text" id="fullName" name="fullName" {{!-- value={{data.fullName}} --}} />
        <label for="fullName">Họ và Tên</label>
      </div>

      <div class="form-floating mb-2 w-100">
        <input class="form-control w-100" type="email" id="email" name="email" {{!-- value={{data.email}} --}} />
        <label for="email">gmail</label>

      </div>

      <div class="form-floating mb-2 w-100">
        <input class="form-control w-100" type="password" id="password" name="password" {{!-- value={{data.password}} --}} />
        <label class="form-label" for="password">Mật Khẩu</label>

      </div>

      <div class="form-floating mb-2 w-100">
        <input class="form-control w-100" type="password" id="passwordChecking" name="passwordChecking" />
        <label for="passwordChecking">Nhập Lại Mật Khẩu</label>
      </div>


      <div class="w-75 text-center ">
        <button class="btn btn-outline-dark w-75">Register</button>
          <a class="w-75 btn h-100 btn-primary p-1 m-2"href="/">Bỏ qua đăng ki'</a>

      </div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#alert").toast({ animation: true, delay: 100000 }); $("#alert").toast("show");
  });
</script>