<div class="w-100 bg-light d-flex flex-column p-4 vh-100 ">
    <div class="h-50 d-flex flex-column align-items-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYQw0nkBBkl_-wXG4LCS196syJ2mm7FstIcA&usqp=CAU"
            class="w-25 rounded-circle">
        <h1 class="fw-bold fs-1 text-secondary">Your reservation is comfirmed </h1>
        <p class="fw-bold fs-1 text-secondary">Thank you</p>
        <a class="btn btn-danger rounded-pill w-25" href="/">Done</a>
    </div>

</div>

<script>
    $(document).ready(function () {

    });
</script>